produção/arcevo
produção/ideias
produção/Registros
produção/fontes/colecoes
produção/fontes/lista.py
testes/arcevo
testes/fontes/testes_colecoes
testes/fontes/test_lista.py
Aprimoramentos
Conceitos
PadroesTestes
.idea
*__pycache__
testes/Registros
